<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cdwoo.dao.DeviceGroupDao">
    <select id="queryDeviceGroupByPage" resultType="java.util.Map">
        select d.*,c.companyName ,date_format(d.createTime, '%Y-%m-%d %H:%i:%s') createTimeStr from 
        `device-group` d left join `company` c on d.companyId = c.id 
        where 1=1
        <if test="companyId > 1">
        	and d.companyId = ${companyId}
        </if>
        order by d.id asc 
        limit ${pageSize} offset ${pageNo*pageSize-pageSize};
    </select>
    
    <select id="queryDeviceGroupCount" resultType="java.lang.Long">
	    select count(*) from `device-group` where 1=1
	    <if test="companyId > 1">
        	and companyId = ${companyId}
        </if>
	</select>
	
	<select id="checkUserWithGroup" resultType="java.lang.Long">
		select count(*) from c_user where CONCAT(",",groups) like "%,${id},%";
	</select>
	
	<delete id="deleteGroup">
		delete from `device-group` where id = ${id};
	</delete>
	
	<select id="getDeviceGroupList" resultType="java.util.Map">
		select * from `device-group` where companyId = ${companyId};
	</select>
	
	<insert id="addDeviceGroup">
		insert into `device-group` (groupName, companyId, createTime) value (#{groupName}, ${companyId}, now());
	</insert>
	
	<select id="getDeviceGroup" resultType="java.util.Map">
		select * from `device-group` where id = ${id};
	</select>
	
	<update id= "updateDeviceGroup">
		update `device-group` set groupName = #{groupName} where id = ${groupId};
	</update>
	
	<select id="getDeviceGroupByUserName" resultType = "java.util.Map">
		SELECT
			dg.id group_id,
			dg.groupName group_name,
			a.child_num
		FROM
			`device-group` dg
		LEFT JOIN (
			SELECT
				groupId,
				count(*) child_num
			FROM
				`gas-data`
			GROUP BY
				groupId
		) a ON dg.id = a.groupId
		WHERE
			CONCAT(
				',',
				(
					SELECT
						groups
					FROM
						c_user
					WHERE
						userName = #{userName}
				)
			) LIKE CONCAT("%,", dg.id, ",%")
	</select>
</mapper>